<md-card class="app-card">
    <md-card-header>
        <md-card-title>Test Tytul</md-card-title>
        <md-card-subtitle>Test pod tytuł</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </md-card-content>
</md-card>