<md-selection-list #customer>
    <div *ngFor="let item of Customers">
        <md-toolbar>
            <md-list-option checkboxPosition="before" selected="{{item.IsAccepted == true}}">{{item.Name}} {{item.Rate}} {{item.IsAccepted}}</md-list-option>
            <span style="flex: 1 1 auto;"></span>
            <button md-raised-button color="primary" (click)="openDialog(item.Id)">Zobacz profil</button>
        </md-toolbar>
    </div>
</md-selection-list>

<p>
    Options selected: {{customer.selectedOptions.selected.length}}
</p>