.my-app {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.app-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 100%;
}

.app-sidenav {
    width: 240px;
    box-shadow: 5px 0 8px rgba(0,0,0,.24);
}

.app-toolbar {
    position: relative;
    z-index: 10;
    box-shadow: 0 5px 8px rgba(0,0,0,.24);
}

.app-content {
    height: 100%;
}

.app-main {
    max-width: 1000px;
    margin:auto;
}



