<md-sidenav-container class="example-container">
    <md-sidenav #sidenav [mode]="showButton ? 'push' : 'side'" [opened]="showMenu" class="example-sidenav">
        <user-panel></user-panel>
        <app-menu></app-menu>
    </md-sidenav>
    <div class="example-sidenav-content">
        <md-toolbar color="primary">
            <button *ngIf="showButton" md-button (click)="sidenav.open()">
                <md-icon>reorder</md-icon>
            </button>
            <span>Praca dorywcza - Kamil Sikorski</span>
        </md-toolbar>
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>